<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if error  %}
        <p>{{error}}</p>
    
    
    {% elif items %}
    <table>
        <tr>
            <thead>
                <th>
                    Name
                </th>
                <th>
                    Category
                </th>
                <th>
                    Price
                </th>
            </thead>
        </tr>
        
        
            {% for item in items %}
                <tr>
                    <td>{{item['name']}}</td>
                    <td>{{item['category']}}</td>
                    <td>{{item['price']}}</td>
                </tr>
            {% endfor %}
        
    </table>
    {% else %}
            <p>No items found</p>
        {% endif %}
</body>
</html>